APP_IMAGE=registry.gitlab.fenicu.com/trigger/trigger:latest

BOT_TOKEN=1234567890:AABBCCDD_EEFFGGG

WEBHOOK_URL=https://site.example.com/webhook
WEBHOOK_PATH=/webhook
SECRET_TOKEN=supersecretstring
PROXY_PORT=8080

TELEGRAM_BOT_API_URL=https://api.telegram.org
MODERATION_CHANNEL_ID=-1001234567890
BOT_ADMINS=123456789

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

INFERENCE_URL=http://gpu-server:8100
INFERENCE_API_KEY=your-secret-key

ROUTER_NAME=bot
BOT_TIMEZONE=Europe/Moscow

WEBAPP_URL=https://trigger.example.site
